$header1-background: #252323;
$logo-color: #ffffff;
$icon-color:  #c1c1c1;
$logo-blue-hover-fIcons-color:  #00bac6;
$link-color: #8b8b8b;
$title-color: #818181;
$header-color: #646464;
$text-color: #9a9a9a;
$devices-color: #dcdcdc;
$devices-hover: #9de4e9;
$device-section2-title-color: #7b7b7b;
$image-border-color: #c5c5c5;
$footer1-title-color: #f3f3f4;
$text-shadow-color: #868381;