$openSansFont: "Open Sans", "open-sans", sans-serif;
$segoeFont: "Segoe UI","wf_segoe-ui_normal","Arial",sans-serif;


$menu-color: #2F2F2F;
$black: #000000;
$menu-darkgray: darkgray;
$menu-gray: gray;
$search-border: #A9A9A9;
$invision-background: #323a45;
$invision-form:  #8a959e;
$invision-button: #ff3366;
$invision-button-hover: #f42156;
$invision-text-link: #747c83;
$oculus-wrapper: #282828;
$oculus-title: #a4a5a6;
$white: #fff;
$footer-link: #666;
$footer-link-hover: #333;
$footer-border: #d6d6d6;